* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.card {
  padding: 2rem;
  border: 1px solid black;
  display: flex;
  margin: 1rem;


  button {
    text-align: center;
    padding: 0 2rem;
    margin-right: 2rem;
  }

  .content {
    padding-right: 2rem;
  }

}

.container-card2 {
  display: flex;
  margin: 0.5rem;
  padding: 1rem;
  border: 2px solid black;

  .container-button {
    padding: 0.5rem
  }

  button {
    width: 100px;
  }
}